/* Add box-sizing universally */
* {
  box-sizing: border-box;
}

/* Set the default background image */
html {
  font-family: 'Josefin Sans', sans-serif;
}

/* Header style */
h1 {
  font-family: Pacifico;
  font-size: 4em;
  line-height: 1em;
  font-weight: normal;
  color: #fdfdfd;
  text-shadow: 2px 2px 3px black;
}

/* Main content */
#main {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  background-image: url("../img/weatherback.jpg");
}

#quick-view {
  font-size: 3em;
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 3px black;
  margin: .4em 0 .2em 0;
}

#grid {
  margin: .5em 0;
}

#grid div {
  display: inline-block;
  color: white;
  background: rgba(0,0,0,.4);
  margin: 1em;
  padding: 1.6em;
  min-width: 10em;
  max-width: 15em;
  border-radius: 1em;
  vertical-align: middle;
  letter-spacing: .1em;
  overflow: hidden;
}

/* Hide metric values by default */
.hide {
  display: none;
}

/* Conversion button */
button {
  background-color: rgba(250,250,255,.4);
  border: none;
  padding: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Create a loading animation */
@-webkit-keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

#loading {
	text-align: center;
	margin: 100px 0 0 0;
}

#loading span {
	-webkit-animation-name: opacity;
	        animation-name: opacity;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

#loading span:nth-child(2) {
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
}

#loading span:nth-child(3) {
	-webkit-animation-delay: 500ms;
	        animation-delay: 500ms;
	-webkit-animation-delay: 500ms;
	        animation-delay: 500ms;
}

.wi-wind {
  font-size: 3em;
  line-height: 0;
  margin-right: .5rem;
  vertical-align: middle;
}
.navbar-inverse {
  /*background-color: #FE0000;*/
}
